<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">eLearnApp</a>

        <ul class="navbar-nav mr-auto" *ngIf="currentUser$ | async">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" (click)="logout()">Logout</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="currentUser$ | async" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle> Welcome user</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <form *ngIf="(currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="loginTeacher()" autocomplete="off">
          <input 
          name="username"
          [(ngModel)]="model.login"
          class="form-control mr-sm-2" 
          type="text" 
          placeholder="Login">
          <input class="form-control mr-sm-2" 
          name="password"
          [(ngModel)]="model.password"
          type="password" 
          placeholder="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>